*{
    margin: 0;
    padding: 0;
}
html, body{
    background-color: #111;
}
.about-us h2{
    margin-top: 8%;
    margin-left: 12%;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border: 1px solid #9F267B;
    border-radius: 20px;
    position: absolute;
    padding: 5px 10px;
    background-color:#9F267B;
}
.about-us p{
    text-align: justify;
    margin-right: 12%;
    margin-left: 12%;
    position: relative;
    padding-top: 170px;
    color: white;
    font-size: 18px;
    line-height: 1.5em;
}
.video{
    margin-bottom: 30px;
    margin-left: 12%;
    padding-top: 10px;
}
